<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename Method(_UPC,0,S) to XUPC, pair with SSDT-USB.aml (USB Port Customization)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1VQQwg=</data>
					<key>Replace</key>
					<data>WFVQQwg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml (Instant Wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method(LGPA,1,S) to XGPA, pair with SSDT-LGPA.aml (Brightness Key)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TEdQQQk=</data>
					<key>Replace</key>
					<data>WEdQQQk=</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>darkwake=0 ps2kbdonly=1</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>4</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>BQAcWQ==</data>
				<key>complete-modeset-framebuffers</key>
				<data>AAAAAAAAAAE=</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>#enable-backlight-smoother</key>
				<data>AQAAAA==</data>
				<key>enable-max-pixel-clock-override</key>
				<data>AQAAAA==</data>
				<key>force-online</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>CgAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAQAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-flags</key>
				<data>CwfDAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>System Peripheral</string>
				<key>model</key>
				<string>Intel 8th Gen Core Processor Gaussian Mixture Model</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel Sunrise Point-LP USB 3.0 xHCI Controller</string>
				<key>name</key>
				<string>pci8086,9d2f</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Intel Sunrise Point-LP Thermal subsystem</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>Signal Processing Controller</string>
				<key>model</key>
				<string>Intel Sunrise Point-LP Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>device_type</key>
				<string>Signal Processing Controller</string>
				<key>model</key>
				<string>Intel Sunrise Point-LP Serial IO I2C Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>Communication Controller</string>
				<key>model</key>
				<string>Intel Sunrise Point-LP CSME HECI #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel Sunrise Point-LP PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel Sunrise Point-LP PCI Express Root Port #5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x7)/Pci(0x0,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel Wireless 8265</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel Sunrise Point-LP PCI Express Root Port #9</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel Sunrise Point LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>device_type</key>
				<string>Memory Controller</string>
				<key>model</key>
				<string>Intel Sunrise Point-LP PMC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>hda-idle-support</key>
				<string>1</string>
				<key>layout-id</key>
				<integer>30</integer>
				<key>model</key>
				<string>Intel Sunrise Point-LP HD Audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x4)</key>
			<dict>
				<key>model</key>
				<string>Intel Sunrise Point-LP SMBus</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>ExFatDxe</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>DoubleClickTime</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>6</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ProvideConsoleGop</key>
		<false/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Xiaomi</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>BlockSkywalk</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array/>
		<key>KextsToPatch</key>
		<array/>
		<key>KernelToPatch</key>
		<array/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<false/>
		<key>EnableWriteUnprotector</key>
		<false/>
		<key>ExtendBTFeatureFlags</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceAquantiaEthernet</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ForceOcWriteFlash</key>
		<false/>
		<key>FuzzyMatch</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4288675840</integer>
				<key>Comment</key>
				<string>MMIO 0xFFA00000 (0x600 pages, 0x8000000000000001)</string>
				<key>Enabled</key>
				<true/>
			</dict>
		</array>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<true/>
		<key>ProvideCurrentCpuInfo</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>ResizeAppleGpuBars</key>
		<integer>-1</integer>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<true/>
		<key>TscSyncTimeout</key>
		<integer>0</integer>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>ROM</key>
		<data>ABbLESIz</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
