<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>Arch</key>
			<string>x86_64</string>
			<key>BundlePath</key>
			<string>BrcmPatchRAM3.kext</string>
			<key>Comment</key>
			<string></string>
			<key>Enabled</key>
			<true/>
			<key>ExecutablePath</key>
			<string>Contents/MacOS/BrcmPatchRAM3</string>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string>19.0.0</string>
			<key>PlistPath</key>
			<string>Contents/Info.plist</string>
		</dict>
	</array>
</plist>
