<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Version 0.9.2, Copyright 2018, RehabMan (GPLv2)</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.SATA-unsupported</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SATA-unsupported</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IntelRAID-AHCI-unsupported</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>Intel AHCI RAID</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,282a</string>
				<string>pci8086,2822</string>
			</array>
			<key>IOProbeScore</key>
			<integer>900</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel100Series-AHCI-unsupported</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>100 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,a103</string>
				<string>pci8086,9d03</string>
			</array>
			<key>IOProbeScore</key>
			<integer>900</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel200Series-AHCI-unsupported</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>200 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,a282</string>
			</array>
			<key>IOProbeScore</key>
			<integer>900</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel300Series-AHCI-unsupported</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>300 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,a353</string>
				<string>pci8086,9dd3</string>
			</array>
			<key>IOProbeScore</key>
			<integer>900</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
